<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427628782712-0gbjmjgj5dra9j0fgjob2hj1clqrghbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427628782712-0gbjmjgj5dra9j0fgjob2hj1clqrghbo</string>
	<key>API_KEY</key>
	<string>AIzaSyBvsukNVa4TqkhHGJ14H8TdS8jtt78vh6M</string>
	<key>GCM_SENDER_ID</key>
	<string>427628782712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kumarshikhar.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-0505</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-0505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427628782712:ios:341229d98617e4e7ab398d</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-0505.firebaseio.com</string>
</dict>
</plist>